<p id="notice"><%= notice %></p>

<%= link_to 'Articles', articles_path %> |
<%= link_to 'Edit', edit_article_path(@article) %>

<p>
  <h2 style="width: 700px">
    <%= @article.title %>
  </h2>
</p>

<div style="width: 500px">
  <%= simple_format(@article.text) %>
</div>
