<p id="notice"><%= notice %></p>

<%= link_to 'Things', things_path %> |
<%= link_to 'Edit', edit_thing_path(@thing) %>

<p>
  <h2 class="title show">
    <%= @thing.title %>
  </h2>
</p>

<div class="text show">
  <%= markdown @thing.text %>
</div>